@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/less/variables";

@window-padding: 15px;

@blue: '#05386B';
@green1: '#379683';
@grenn2: '#5CDB95';
@green3: '#8EE4AF';
@yellow1: '#EDF5E1';
