@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/less/variables";

@window-padding: 20px;
@border-radius: 6px;

body {
    background-color: @light-gray5;
    color: @black;
}
