@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/less/variables";

@window-padding: 20px;
@border-radius: 6px;

body {
    background-color: @light-gray5;
    color: @black;
}

#navbar {
  background-color: @black;
}

.bp3-navbar-heading {
  display: flex;

  h2 {
    margin: 0px 0px 0px 9px;
    color: @white;
  }
}

#dashboard {
  display: grid;
  width: 100%;
  height: calc(100vh - 50px);
  padding: @window-padding;

  // Grid
  grid-template-rows: 1fr 1fr 2fr 2fr;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: @window-padding;
  grid-row-gap: @window-padding;
  grid-template-areas:
    "admissions admissions admissions admissions attente attente"
    "admissions admissions admissions admissions hospitalisation hospitalisation"
    "sejour sejour gestes gestes gestes gestes"
    "service service gestes gestes gestes gestes";

  & > * {
    padding: calc(2 * @window-padding);
  }

  .admission-bar:hover {
    opacity: 0.8;
  }

  .comparison {
    fill-opacity: 0;
    stroke: @black;
    stroke-width: 2px;
    stroke-opacity: 0.4;
    stroke-dasharray: 6,8;
  }

  .svg-dashboard-module {
    fill: @light-gray3;
    rx: 5;
  }

  .dashboard-module {
    background-color: @light-gray4;
    border-radius: 5px;
    padding: @window-padding;

    .title {
      fill: @gray2;
      color: @gray2;
      font-size: 1.5em;
      font-weight: 300;
      text-transform: uppercase;
    }

    svg .title {
      transform: translate(0, 1.5em);
    }

    .value{
      font-size: 4em;
      font-weight: 700;
    }
  }

  #admissions {
    grid-area: admissions;
  }

  #hospitalisation {
    grid-area: hospitalisation;
  }

  #attente {
    grid-area: attente;
  }

  #sejour {
    grid-area: sejour;
  }

  #service {
    grid-area: service;
  }

  #gestes {
    grid-area: gestes;
  }

}
